* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
padding: 20px;
}

ul{
list-style-type: none;

}


main {
min-height: 80vh;

}

h1,h2,h3,h4{
text-transform: uppercase;


}

 

/* ESTILOS PANTALLAS DE MAXIMO 768px */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      gap: 10px; 
      padding: 10px;
    }
  
    header > h1 {
      font-size: 1.2rem; 
    }
  
    header > input,
    header > button,
    header > select {
      width: 90%; 
    }
  
    #results {
        display:flex ;
      flex-direction: column;
      align-items: center;
    align-content: center;
   
    }
  
    #results img {
        height: auto;
        width: 100%; 
        /* max-width: 500px;  */
    }
  


    footer {
      text-align: center; 
      padding: 15px;
    }
  }
  

  