#results {
display:flex;
list-style:none;
gap:20px;
padding: 20px;
flex-wrap: wrap;
justify-content: center;
}

#results img {
max-width: 500px;
height: 300px;
object-fit: cover;
padding: 20px;
border-radius: 10px;
}

#message {
font-family: "Roboto", Arial, sans-serif; /* Fuente ligera y moderna */
font-size: 1rem;
color: #2e2d2d; /* Tono gris suave */
margin-top: 10px;
text-align: center;
}
  