#results {
display:grid;
list-style:none;
gap:20px;
padding: 20px;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
grid-auto-rows: 300px;
}

#results img {
width: 100%;
height: 100%;
object-fit: cover;

border-radius: 10px;
}

#message {
    font-family: "Roboto", Arial, sans-serif; /* Fuente ligera y moderna */
    font-size: 1rem;
    color: #2e2d2d; /* Tono gris suave */
    margin-top: 10px;
    text-align: center;
  }
  